<div class="tab-pane" id="tab6">
					      <h2><span>Select </span> Bin Type    </h2>
        <form action="assbin.php" method="post">
          <table width="350">
            <tr>
				<td ><input type="radio" name="binType" value="equalBin"/></td>
				<td width="150"><label>Equal Binning</label></td>
				<td ><input type="radio" name="binType" value="maxDiff"/>
				<td width="150"><label>Maximum Difference</label></td>
			</tr>
		   </table>	<br/>
		<h2><span>Enter </span> Bin Value    </h2>
		<table width="350">
        <tr>
		<td width="50"><input type="text" name="bin" id="bin" /></td>
        <td width="49"><input type="submit" name="assignBin" value="Go"></td>
        </tr>
        <br>
		</table>
        </form>             		
					    </div>