<div class="tab-pane" id="tab1">
			<h4>Download Sample Dataset</h4>
            <form ng-controller="DownloadController" >
				<button class="btn btn-info" ng-click="sendReq()" type="submit">Download</button>
			</form>
            <h4>Upload Dataset</h4>
            <div ng-controller="ImportController" >
            <form>
			<table width="533">
				<tr>
					<td width="210"><label>Upload the file</label></td>
					<td width="236"><input type="file" ng-file-select="onFileSelect($files)" ></td>
					<td width="49"><button class="btn btn-info" ng-click="sendReq()" type="submit">Upload</button></td>
				</tr>
				<br>
			</table>
			</form>
			<div class="alert alert-success" ng-show="uploadStatus && (uploadMessage).length">{{uploadMessage}}</div>
			<div class="alert alert-danger" ng-show="!uploadStatus && (uploadMessage).length">{{uploadMessage}}</div>
			</div>
			
</div>