<div class="tab-pane" id="tab2">
	<h4>Filter Selection</h4>
	<table>
		<tr ng-repeat="attribute in attributeTypes">
			<td>
				<span>{{attribute.attributeName}}({{attribute.attributeType}})</span>
			</td>
			<td>
			<select class="form-control" ng-model="filters[$index]" ng-options="category as category for category in attribute.categories">  
				<option value="" >None</option>
			</select>
			</td>
		</tr>
		<br/>
	</table>
			<button class="btn btn-info" ng-click="sendReq()" type="submit" style="margin-top:-10px;">Filter</button>
			<div>
   			<div class="alert alert-success" ng-show="status">Success</div>
			<div class="alert alert-danger" ng-show="status == false">Failure</div>
			</div>
</div>