<div class="tab-pane" id="tab5">
					      <h3><span>Choose variables for </span> Decision Tree Analysis  </h3>
		<form action="" method="post">
        <table border="0">
			<tr><td>Season</td><td>	<input type="checkbox" name="choices1" value="season"/></td></tr>
			<tr><td>Crop Stage</td><td><input type="checkbox" name="choices2" value="stage"/></td></tr>
			<tr><td>Maximum Temperature</td><td><input type="checkbox" name="choices3" value="maxTemp"/></td></tr>
			<tr><td>Minimum Temperature</td><td><input type="checkbox" name="choices4" value="minTemp"/></td></tr>
			<tr><td>Relative Humidity</td><td><input type="checkbox" name="choices5" value="relHumidity"/></td></tr>
			<tr><td>MAI</td><td><input type="checkbox" name="choices6" value="mai"/></td></tr>
			<tr><td>SMI</td><td><input type="checkbox" name="choices7" value="smi"/></td></tr>
			<tr><td>Rain Fall</td><td><input type="checkbox" name="choices8" value="rainfall"/></td></tr>
			<tr><td>No. of Raining Days</td><td><input type="checkbox" name="choices9" value="rainfallDays"/></td></tr>
			<tr><td>Maximum Temperature Deviation</td><td><input type="checkbox" name="choices10" value="maxTempDev"/></td></tr>
			<tr><td>Minimum Temperature Deviation</td><td><input type="checkbox" name="choices11" value="minTempDev"/></td></tr>
			<tr><td>--------------------------------</td></tr>
			<tr><td>Natural Enemy 1</td><td><input type="checkbox" name="choices12" value="ne1"/></td></tr>
			<tr><td>Natural Enemy 2</td><td><input type="checkbox" name="choices13" value="ne2"/></td></tr>
			<tr><td>Natural Enemy 3</td><td><input type="checkbox" name="choices14" value="ne3"/></td></tr>
			<tr><td>Sun Shine Hours</td><td><input type="checkbox" name="choices15" value="sunshineHours"/></td></tr>
			<tr><td>Wind Velocity</td><td><input type="checkbox" name="choices16" value="windVelocity"/></td></tr>
			<tr></tr>
			<tr><td><input type="submit" name="selection" value="Go"/></td></tr>
		</table><br/>
        </form>
					    </div>