<div class="tab-pane" id="tab3">
					      <h3><span>Select the</span>   Phase</h3>

            <form method=POST>
				<table width="447" border="0">
				<tr class="filter">
					<td width="93"><input type="radio" name="phase" value="training"><label>Training</label></td>
					<td width="104"><input type="radio" name="phase" value="testing"><label>Testing</label></td>
					<td width="135"><input type="radio" name="phase" value="both"><label>Unsupervised</label></td>
					<td width="97"><input type="submit" name="go" value="Go"></td>
				</tr>
				</table>
			</form>	
					    </div>