<div class="tab-pane" id="tab2">
		<h3>Label Selection</h3>
        <form method=POST>
	   	<table width="400" border="0">
          <tr class="filter">
            <td width="78" height="44"><input type="checkbox" name="year"><label>Year</label></td>
            <td width="90"><input type="checkbox" name="district"><label>District</label></td>
            <td width="84"><input type="checkbox" name="tehsil"><label>Tehsil</label></td>
            <td width="83"><input type="checkbox" name="crop"><label>Crop</label></td>
            <td width="68"><input type="submit" name="go" value="Go"></td>
          </tr>
        </table>
		</form>
</div>